.sidebar {
  background-color: #fcfcfc;
  height: 60%;
  position: fixed;
  top: 8rem;
  left: 2rem;
  z-index: 1;
}

.sidebar .active {
  margin-left: 1.25rem;
  transition: 0.4s;
  color: #a0aec0;
}
