.app {
  width: 100%;
}

.app__body {
  margin-top: 7rem;
}

@media (min-width: 1280px) {
  .app__body {
    margin-left: 23%;
    margin-right: 2rem;
    margin-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 1024px) {
  .app__body {
    margin-left: 23%;
    margin-right: 2rem;
    margin-top: 8rem;
    padding-bottom: 8rem;
  }
}
